/2-RTN/venv/
/2-RTN/.idea/
/2-RTN/.ipynb_checkpoints/
/2-RTN/data/ria.json
/2-RTN/*.ipynb
/1-Docker-tfidf/.idea/
/1-Docker-tfidf/venv/
/.idea
.ipynb_checkpoints
/conala_model_attention_test.pt
/test.json
/1-Docker-tfidf/setup.py
#/2-RTN/setup.py
/1-Docker-tfidf/tf_idf/3_tfidf.txt
/1-Docker-tfidf/requirements.txt
/1-Docker-tfidf/dockerfiles/fix_permissions
/2-RTN/mlruns/
2-RTN/src/__pycache__/
/2-RTN/data/split.zip
